<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group9.hsr.ch.businesstravelagent"
    android:revisionCode="1"
    android:versionName="1.0.0">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="24"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".Controller.MainActivity"
            android:label="Business Travel Agent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controller.AboutActivity"
            android:label="@string/about_name"
            android:parentActivityName="group9.hsr.ch.businesstravelagent.Controller.MainActivity">
        </activity>
    </application>

</manifest>
